---
layout: default
---

<div class="index" itemscope itemtype="https://schema.org/Blog">

{% for post in paginator.posts %}<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

<header>
<h1 itemprop="name headline"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="mainEntityOfPage">{{ post.title | escape }}</a></h1>
{% if post.subtitle %}<p class="subtitle" itemprop="alternativeHeadline">{{ post.subtitle }}</p>{% endif %}

<p class="byline">
<div itemprop="publisher" itemscope itemtype="http://schema.org/Corporation"><meta itemprop="name" content="{{ site.title }}" /></div>
<time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B, %Y" }}</time>
<meta itemprop="dateModified" content="{% if post.modified_time %}{{ post.modified_time | date_to_xmlschema }}{% else %}{{ post.date | date_to_xmlschema }}{% endif %}" />
{% if post.author %}{% assign author = site.data.authors[post.author] %}{% assign author_data = site.authors | where:"author", post.author %}{% assign author_page = author_data | first %}
by <span itemprop="author" itemscope itemtype="http://schema.org/Person">
{% if author_page.url %}<a href="{{ author_page.url | prepend: site.baseurl }}" itemprop="name">{{ author.name | default: post.author }}</a>
{% else %}<span itemprop="name">{{ author.name | default: post.author }}</span>{% endif %}
</span>{% endif %}
</p>
</header>

{% if post.excerpt %}{% unless post.content contains site.excerpt_separator %}
{{ post.excerpt | markdownify }}
{% else %}
{{ post.excerpt }}
{% endunless %}{% endif %}

<footer>
<p class="read-more">Keep reading <a itemprop="url" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></p>
</footer>

</article>
{% endfor %}

<p class="pagination">{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path }}">◀&nbsp;&nbsp;Previous</a>
{% endif %}
Page: {{ paginator.page }} of {{ paginator.total_pages }}
{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}">Next&nbsp;&nbsp;▶</a>
{% endif %}</p>

</div>
