---
layout: default
---
<article class="h-recipe" itemscope itemprop="mainEntity" itemtype="http://schema.org/Recipe">

<header>
<h1 class="p-name" itemprop="name headline">{{ page.title }}</h1>
<meta itemprop="recipeCategory" content="{{ page.category}}"/>
</header>

<div class="body" itemprop="articleBody">

<div itemprop="description">{{ page.content | markdownify }}</div>

{% if page.image %}<img itemprop="image" src="{{ page.image }}" alt="{{ page.title }}" />{% endif %}

<h2>Ingredients</h2>

<ul>{% for ingredient in page.ingredients %}
{% unless ingredient.optional %}<li class="p-ingredient" itemprop="recipeIngredient">{{ ingredient.amount }} {{ ingredient.name }}{% if ingredient.note %} ({{ ingredient.note }}){% endif %}</li>{% endunless %}
{% endfor %}</ul>

{% assign ingredients_optional = page.ingredients | where:"optional", true %}{% if ingredients_optional.size > 0 %}<p>Optional:</p>

<ul>
{% for ingredient in ingredients_optional %}
<li class="p-ingredient" itemprop="recipeIngredient">{{ ingredient.amount }} {{ ingredient.name }}{% if ingredient.note %} ({{ ingredient.note }}){% endif %}</li>
{% endfor %}</ul>{% endif %}

<h2>Method</h2>

<ol class="e-instructions" itemprop="recipeInstructions">{% for method in page.method %}
<li itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
<meta itemprop="position" content="{{ forloop.index }}"/>
<div itemprop="itemListElement">{{ method | markdownify }}</div>
</li>
{% endfor %}</ol>

</div>

</article>
